Disabled URL Encoding of Reserved Characters Caused Signature Mismatch on Some S3-Compatible Storage Servers

Are there any plans to enable URL encoding of reserved characters (e.g., $, @, &, ...) in the SDK core?

In https://github.com/aws/aws-sdk-cpp/blob/master/aws-cpp-sdk-core/source/http/URI.cpp#L124

```
            switch(c)
            {
                // §2.3 unreserved characters
                case '-': case '_': case '.': case '~':
                // The path section of the URL allow reserved characters to appear unescaped
                // RFC 3986 §2.2 Reserved characters
                // NOTE: this implementation does not accurately implement the RFC on purpose to accommodate for
                // discrepancies in the implementations of URL encoding between AWS services for legacy reasons.
                case '$': case '&': case ',':
                case ':': case '=': case '@':
                    ss << c;
                    break;
                default:
                    ss << '%' << std::setfill('0') << std::setw(2) << (int)((unsigned char)c) << std::setw(0);
            }
```

Files with reserved characters, for example, `my@file.bin`, are uploaded to S3 successfully but the request path is not URL encoded (e.g., `PUT /my-bucket/my@file.bin HTTP/1.1`). However, some third party S3-compatible storage services (SwiftStack) fail with a signature mismatch because the SDK does not URL encode the path.

It looks like the Python botocore package does enable URL encoding for reserved characters so I am just curious if the C++ SDK will enable URL encoding for reserved characters as well.

### What platform/OS are you using?

I am using Linux and macOS platforms:

* CentOS 7.5, and
* macOS 10.14

### Which version of the SDK?

1.7.138 (https://github.com/aws/aws-sdk-cpp/tree/1.7.138)

### What compiler are you using? what version?

On Linux, I am using g++ 4.9.2. On macOS, I am using Xcode 10.

### What are your CMake arguments?

### Can you provide a TRACE level log? (sanitize any sensitive information)

Hi @shanebarnes, thanks for pointing this out.
It might be a bug, I will take a look at it and as always, we're open for contributions, if you have a solution for this in mind.